*{
    background-color:black
}
.img1{
    width: 1200px;
}
.img2{
    width: 600px;
    height: 500px;
}
.title{
    color: white;
    font-size: 50px;
    margin: 5px;
}
.sym{
    color: white;
}
.text1{
    color: white;
    font-family: sans-serif;
    font-size: 45px;
}
.text2{
    color: white;
    font-family: sans-serif;
   /* justify-content: left; */
    text-align: center;
}
.text3{
    color: white;
    font-size: 25px;
    text-align: end;
}
hr{
    width: 20%;
    text-align: left;
    margin-right:0 ;
    /* padding-bottom: 30px; */
    
}


